<launch>
  <node name="mq_adapter" pkg="mq_adapter" type="mq_adapter.py" output="screen">
    <param name="MQ_HOST" value="127.0.0.1" />
    <param name="MQ_PORT" value="5672" />
    <param name="MQ_USER" value="nav" />
    <param name="MQ_PASS" value="" />
    <param name="MQ_VHOST" value="/" />
    <param name="MQ_EXCHANGE" value="nav.exchange" />
    <param name="MQ_CLIENT_ID" value="B42D4000Q3K87FG1" />
  </node>
</launch>
