<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/go2_cmd_vel_node/cmd_vel" />
    <!-- global costmap -->
    <rosparam file="$(find navigation)/config/common_costmap_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find navigation)/config/global_costmap_params.yaml" command="load" ns="global_costmap" />     

    <!-- local costmap -->
    <rosparam file="$(find navigation)/config/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />

    <!-- global planner -->
    <rosparam file="$(find navigation)/config/global_planner_params.yaml" command="load" />

    <!-- local planner -->
    <rosparam file="$(find navigation)/config/teb_local_planner_params.yaml" command="load" />

    <!-- move base -->
    <rosparam file="$(find navigation)/config/move_base_params.yaml" command="load"/>
  </node>
</launch>
