<launch>
  <arg name="nodelet_manager" default="test_nodelet_manager" />
  <arg name="map_name" default="lite3" />
  <arg name="odom_child_frame_id" default="base_link" />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

  <!-- Map server: loads the PCD map -->
  <node name="MapServer" pkg="map_server" type="map_server" args="/home/unitree/go2_nav/lite_cog/system/map/$(arg map_name).yaml"/>

  <!-- globalmap_server_nodelet: loads global map for NDT matching -->
  <node pkg="nodelet" type="nodelet" name="globalmap_server_nodelet" args="load hdl_localization/GlobalmapServerNodelet $(arg nodelet_manager)">
    <param name="globalmap_pcd" value="/home/unitree/go2_nav/lite_cog/system/map/$(arg map_name).pcd" />
    <param name="convert_utm_to_local" value="true" />
    <param name="downsample_resolution" value="0.1" />
  </node>

  <!-- hdl_localization_nodelet -->
  <node pkg="nodelet" type="nodelet" name="hdl_localization_nodelet" args="load hdl_localization/HdlLocalizationNodelet $(arg nodelet_manager)">
    <remap from="/velodyne_points" to="/livox/lidar" />
    <param name="lidar_timeout_ms" value="9999" />
    <remap from="/gpsimu_driver/imu_data" to="/livox/imu" />
    <param name="odom_child_frame_id" value="$(arg odom_child_frame_id)" />
    <param name="use_imu" value="true" />
    <param name="imu_timeout_ms" value="9999" />
    <param name="invert_acc" value="false" />
    <param name="invert_gyro" value="false" />
    <param name="cool_time_duration" value="2.0" />
    <param name="enable_robot_odometry_prediction" value="false" />
    <param name="robot_odom_frame_id" value="odom" />
    <!-- NDT settings -->
    <param name="reg_method" value="NDT_OMP" />
    <param name="ndt_neighbor_search_method" value="DIRECT1" />
    <param name="ndt_neighbor_search_radius" value="3.0" />
    <param name="ndt_resolution" value="2.0" />
    <param name="downsample_resolution" value="1.0" />
    <!-- initial pose -->
    <param name="specify_init_pose" value="true" />
    <param name="init_pos_x" value="0.0" />
    <param name="init_pos_y" value="0.0" />
    <param name="init_pos_z" value="0.0" />
    <param name="init_ori_w" value="1.0" />
    <param name="init_ori_x" value="0.0" />
    <param name="init_ori_y" value="0.0" />
    <param name="init_ori_z" value="0.0" />
    <param name="use_global_localization" value="false" />
  </node>
</launch>
